.app-container{
     background-color: #0C84A9;
     color: #fff;
    padding: 5px 3%;
    min-height: 500px;
 }
.app-container a:link, .app-container a:visited{
    color: #b6dd5e;
}

.app-container a:hover{
    color: #f67e00;
    text-decoration: none;
}
.app-header{

}

.app-header-login{
    float: right;
    height:55px;
    margin-right: 70px;
}

.app-header-bar{
    font-size: 1px;
    width:100%;

}

.app-header-bar-left{
    width:10%;
    text-align: right;
}

.app-header-bar-right{
    width:10%;
    text-align: left;
}

.app-header-bar-middle{
    background-color: #0C84A9;
    width: 80%;
}

.codemash-icon {
    display: block;
    width: 40px;
    height: 49px;
    background: url(img/codemash-icon.png);
    background-size: 40px 49px;
    position: relative;
    margin: 0 auto -15px;
}

.navbar
{
    margin-bottom: 15px ;
}

.navbar-toggle{
    background-color: #f67f01;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: #f67f01;
}
/*
Import Fonts

---------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('fonts/BrandonGrotesque-Bold.eot');
    src: local('?'), url('fonts/BrandonGrotesque-Bold.woff') format('woff'), url('fonts/BrandonGrotesque-Bold.ttf') format('truetype'), url('fonts/BrandonGrotesque-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}