.scheduleDateHeader{
    background-color: #f67e00;
    margin: 20px -3% 15px -3%;
    padding: 3px 3%;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.scheduleTime{
    color:#AAAAAA;
}

.scheduleSession{
    font-size: smaller;
    clear: both;
}

.scheduleTitle{
    padding-left: 20px;
}